.header {
  height: 6%; /* 6% of body */
  box-sizing: border-box;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between; /* not needed? */
/*   align-items: center; */
  position: relative; /* position: absolute ... */

  background-color: rgb(255, 255, 255);

  padding: 0;
  margin: 0;
  border-bottom: 2px solid black;
  /* box-sizing: border-box;  /* already set in style.css * {} */ 
}

.left-header {
 /*  width: 40%; */
 /* width will be what the image is */ 
  height: 100%; 
  background-color: black;
  
/*   display: flex; */
  /* align-items: start;
  justify-content: start; */
  margin-right: 10px;
}


.right-header {
  padding-top: 20px;
  display: flex;
  align-items: center; /* button gets centered vertically WITHIN right-section... */

  position: absolute;  /* is always shown on the page... will overlap left section... Otherwise there is an overflow to the right on the page when content becomes bigger than the section...*/
  right: 10px; 
  bottom: 10px;
}

.nav-header {
  display: flex; /* content takes up the space it needs */
  margin-right: 5px;
  /* position: relative; */

  height: 100%;
  width: 100%;
}

.ansok-button-small-text {
  font-size: 24px;
}

.nav-header > a { /* all 'a' inside nav-header */
  text-wrap: nowrap;
}

.ansok-button-small {
}

.image-container-header {
  display: flex;
  height: 100%;
  /* width: 100%; */
}

.logga-img {
 /*  display: flex; */
  width: 100%; /* unnecessary? */
  /* height: 100%; */
  
}

/* .ansok-button-small .tooltip {
  opacity: 0; 
}

.ansok-button-small:hover .tooltip {
  opacity: 1; 
} */

@media (max-width: 420px) {
  .nav-header > a  { /* all 'a' inside nav-header */
    font-size: 19px;
  }

  .ansok-button-small-text {
    font-size: 21px;
  }
}

@media (max-width: 400px) {
  .nav-header > a  { /* all 'a' inside nav-header */
    font-size: 12px;
  }

  .ansok-button-small-text {
    font-size: 14px;
  }
}

@media (max-width: 260px) {
  .nav-header > a  {
    font-size: 9px;
  }

  .ansok-button-small-text {
    font-size: 11px;
  }

}

