.header {
 /* height: 60px; /* FIXA? inte px*/
  height: 6%; /* 6% of body */

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between; /* not needed? */
  align-items: center;
  position: relative; /* position: absolute ... */

  background-color: lightblue; /* DOES IT MATTER THAT THERE IS OVERFLOW AT THE RIGHT DUE TO DIVS ETC? */

  padding: 0;
  margin: 0;
  border-bottom: 2px solid black;
  /* box-sizing: border-box;  /* already set in style.css * {} */ 

  /* flex-wrap: wrap; /* Allow items to wrap to the next line if needed */ 
}

.left-header {
 /*  width: 40%; */
 /* width will be what the image is */ 
  height: 100%;

  background-color: aquamarine;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-right: 10px;

  
}

.middle-section { /*använder inte */
  background-color: brown;
  display: flex;
  flex: 1; /* take up 100% of remaining space...? unneccesary? */
  align-items: center; /* flexbox code */


  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  

}

.right-header {
  box-sizing: border-box;
  padding-top: 20px;
  background-color: orangered;
  display: flex;
  align-items: center; /* button gets centered vertically WITHIN right-section...? */

  position: absolute;  /* is always shown on the page... will overlap left section... Otherwise there is an overflow to the right on the page...*/
  right: 10px; 
  bottom: 10px;
/*   max-width: 70%; /* fixed with @media query instead! */
  
 /*  flex-grow: 1; /* Allow the right-section to grow and take up available space */ 
/*   flex-shrink: 0; /* Prevent the right-section from shrinking */ 
 /*  flex-basis: auto; /* Let the browser determine the initial width */ 

}

.nav-header {
  display: flex; /* content takes up the space it needs */
  margin-right: 5px;
  /* position: relative; */

  height: 100%;
  width: 100%;

}

.ansok-button-small-text {
  font-size: 24px;
}

.nav-header > a { /* all 'a' inside nav-header */
  text-wrap: nowrap;
}

.ansok-button-small {

}

.image-container-header {
  display: flex;
  height: 100%;
  /* width: 100%; */
}

.logga-img {
 /*  display: flex; */
  width: 100%; /* unnecessary? */
  /* height: 100%; */
  
}

/* .ansok-button-small .tooltip {
  opacity: 0; 
}

.ansok-button-small:hover .tooltip {
  opacity: 1; 
} */

@media (max-width: 420px) {
  .nav-header > a  { /* all 'a' inside nav-header */
    font-size: 19px;
  }

  .ansok-button-small-text {
    font-size: 21px;
  }
}

@media (max-width: 400px) {
  .nav-header > a  { /* all 'a' inside nav-header */
    font-size: 12px;
  }

  .ansok-button-small-text {
    font-size: 14px;
  }
}

@media (max-width: 260px) {
  .nav-header > a  {
    font-size: 9px;
  }

  .ansok-button-small-text {
    font-size: 11px;
  }

}

