* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* change font?  https://fonts.google.com/specimen/Roboto */
  position: relative;
/* 
  display: flex;
  flex-direction: column; */
  height: 2000px;
}

main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  height: 94%; /* header 6%, main 94%... main= section-1, section-2, section-3, section-4, footer
   some sections (inside main) might take more space than intended just to keep good dimensions/font-size/...? */
  width: 100%;
}

p {
  /* unecessary to change font here as well? Depends if we have stuff outside the body? which we shouldnt? */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Fuzzy Bubbles";
  font-size: 15px; /* unless changed... e.g. in @media query*/

  
  /* by default they add margins... */
  margin: 0;
  padding: 0;

  /* font-size: 5vw; */
}

a {
  font-family: "Fuzzy Bubbles";
  text-decoration: none; /* remove underline on links*/
  font-size: 15px; /* unless changed */
}

h2, h3, h4 {
  /* remove default settings */
  margin: 0;
  padding: 0;
  text-wrap: wrap; /* unless changed in e.g media query...*/
 /*  font-size: auto; */
}

 @media (max-width: 400px) {
  body {
    height: 1000px; 
  }
  /* main {
    height: auto;
  }  */  
}

/* 
h2 {
  font-size:5vw; 
} */

/* h3 {
  font-size:5vw; /* take up 5% of the view port....? 

}
*/

/* h4 {
  font-size:3vw;
}
 */