body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* change font?  https://fonts.google.com/specimen/Roboto */
}

p {
  /* unecessary to change font here as well? Depends if we have stuff outside the body? which we shouldnt? */
  font-family: Arial, Helvetica, sans-serif;
  
  /* by default they add margins... */
  margin: 0;
  padding: 0;

}

h2, h3, h4 {
  /* remove default settings */
  margin: 0;
  padding: 0;
}