* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; /* unless changed */
  /* change font?  https://fonts.google.com/specimen/Roboto */
/* display: flex;
  flex-direction: column; */
  height: 2000px; /* so we can split up sections in height percent*/
}

main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  height: 94%; /*(of body) header 6%, main 94%... main= section-1, section-2, section-3, section-4, footer.
   some sections (inside main) might take more space than intended just to keep good dimensions/font-size...? */
  width: 100%;
}

p {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Fuzzy Bubbles";
  font-size: 20px; /* unless changed... e.g. in @media query*/
  /* by default they add margins... */
  /* margin: 0;
  padding: 0; /* already set in *{} */
}

a {
  font-family: "Fuzzy Bubbles";
  text-decoration: none; /* remove underline on links*/
  font-size: 22px; /* unless changed */
}

h2, h3, h4 {
  margin: 0;
  padding: 0;
  text-wrap: wrap; 
 /*  font-size: auto; */
}

h4 {
  font-size: 22px;
  font-weight: 500; /* make it a little less bold.. */
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 28px;
}

/* will only swap to this on mobile.. or is that 600px? */
 @media (max-width: 400px) {  
  body {
    height: 1000px; 
  }
  /* main {
    height: auto;
  }  */  
}

/* h3 {
  font-size:5vw; /* take up 5% of the view port....? 

}
*/
